.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    /* border: 1px solid red; */
}

.Profile-Box {
    display: flex;
    flex-direction: column;
    background-image: url(../images/Shiny-Dark.png);
    border-radius: 4%;
    /* border: 1px solid rgb(255, 0, 234); */
    width: 95%;
    height: 75vh;
    color: whitesmoke;
}

.Profile-Header {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 5vw;
    font-family: 'Caveat', cursive;
    font-size: 6vh;
    /* border: 1px solid red; */
    width: 93%;
    height: 8%;
}

.Profile-Header-Name {
    /* border: 1px solid yellow; */
    text-shadow: 1px 1.5px whitesmoke;
    color: #0099ff;
}

@keyframes colorChange {
    from {
        color: whitesmoke;
    }
    to {
        color: rgb(47, 179, 255);
    }
}

.Profile-Header-Forum-Link {
    /* border: 1px solid yellow; */
    text-shadow: 1px 1.5px whitesmoke;
    position: absolute;
    right:47.2vw;
    font-size: 5vh;
}

.Profile-Header-Forum-Link:hover {
    animation: colorChange .5s forwards;
    cursor: pointer;
}

.Profile-Header-Signout {
    /* border: 1px solid yellow; */
    position: absolute;
    right: 5vw;
    text-shadow: 1px 1.5px whitesmoke;
    font-size: 5vh;
}

.Profile-Header-Signout:hover {
    animation: colorChange .5s forwards;
    cursor: pointer;
}

.Profile-Body {
    /* border: 1px solid blue; */
    height: 80%;
    margin: 1vh 2vw 3vh 2vw;
}

.Profile-Body-Blogs {
    /* border: 1px solid red; */
    height: 85%;
}

.Profile-Body-Title {
    /* border: 1px solid red; */
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 5vh;
}

.Profile-Body-Create-Blog {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid orange; */
    position: relative;
    align-items: flex-end;
    font-family: 'Caveat', cursive;
    font-size: 5vh;
}

.Profile-Individual-Blogpost {
    display: flex;
    justify-content: space-around;
    font-family: 'Caveat', cursive;
    font-size: 5vh;
    text-shadow: 1px 1.5px whitesmoke;
}

.Profile-Individual-Blogpost:hover {
    animation: colorChange .5s forwards;
    cursor: pointer;
}

.Profile-Body-Create-Blog:hover {
    animation: colorChange .5s forwards;
    cursor: pointer;
}